/* src/pages/HighestPerHourSalesByCity.css */
.insight-container {
    text-align: center;
    padding: 20px;
    margin-left: 200px; /* Adjust if needed based on sidebar width */
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.controls {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.currency-toggle, .display-count-toggle {
    margin: 0 10px;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border: 1px solid #3498db;
    border-radius: 5px;
    background-color: white;
    color: #3498db;
    transition: all 0.3s ease;
}

button.active, button:hover {
    background-color: #3498db;
    color: white;
}

.chart {
    margin-top: 20px;
}